
//.gitignore


# Visual Studio Code # 
.vscode
!.vscode/launch.json


# enviroment
env
bin/
.python-version


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Django related. #
*.log
static-cdn/
*.pyc

# Distribution / packaging
.Python
lib/

# pyenv 
.python-version 

# databsase
db.sqlite3

# test file
test.txt